{% include "Uhead.html" %}
<script>
    function validate(){
        var regex_care_name = /^[a-zA-Z ]*$/;
        let card_name = document.getElementById("card_name").value
        if(!regex_care_name.test(card_name)){
            alert("Invalid Name on Card")
            return false
        }

        let card_number = document.getElementById("card_number").value
        if(card_number.length!=16){
            alert("Card Number Should be 16")
            return false
        }

        let expiry_date = document.getElementById("expiry_date").value
        if(expiry_date.length!=5){
            alert("Invalid Expire Date")
            return false
        }

        let card_cvv = document.getElementById("card_cvv").value
        if(card_cvv.length!=3){
            alert("Invalid CVV")
            return false
        }

        return true
    }
</script>
<div class="container mt-2">
    <div class="card p-3" style="height:80vh;overflow:auto">
        <form action="Book_Ticket1" method="post" onsubmit="return validate()">
         <div class="row">
            {% set fromAirport=getAirportbyAirportid(flight_schedule['From_airport_id'])%}
            {% set ToAirport=getAirportbyAirportid2(flight_schedule['to_airport_id'])%}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-5 mt-3">
                        <div class="h5 text-voilet ">From {{fromAirport['airport_name']}}</div>
                    </div>
                    <div class="col-md-2 mt-2">
                        <div class="text-primary h2">==></div>
                    </div>
                    <div class="col-md-5 mt-3">

                       <div class="h5 text-voilet">{{ToAirport['airport_name']}}</div>
                    </div>
                    <div class="col-md-5 mt-3">
                       <div class="h5 text-dark text-end ">({{flight_schedule['journey_of_departure_time']}})</div>
                     </div>
                     <div class="col-md-2 mt-2">
                       <div class="text-primary h2">==></div>
                     </div>
                     <div class="col-md-5 mt-3">
                      <div class="h5 text-dark ">({{flight_schedule['journey_of_arrived_time']}})</div>
                     </div>
                    <div class="col-md-12 mt-3">
                      <div class="h5 text-violet">Journey Date:{{flight_schedule['date']}}</div>
                    </div>
                    {% if len(first_class_selected_seats) > 0 %}
                    <div class="text-dark h6 mt-2">First Class:</div>
                    {% for first_class_selected_seat in first_class_selected_seats: %}
                    <div class="row mt-3">
                        <div class="col-md-4 mt-4">
                            <div class="text-center h2" style="font-size:15px">Seat: F {{first_class_selected_seat}}</div>
                        </div>
                        <div class="col-md-4">
                            <label>F {{first_class_selected_seat}} Passenger Name</label>
                            <input type="text" name="F{{first_class_selected_seat}}name" class="form-control" required placeholder="Passenger name">
                        </div>
                        <div class="col-md-4">
                            <label>F {{first_class_selected_seat}} Passenger Age</label>
                            <input type="number" min="5" max="130" name="F{{first_class_selected_seat}}age" class="form-control" required placeholder="Passenger age">
                        </div>
                    </div>
                    {%endfor%}
                    {%endif%}
                    {% if len(Business_class_selected_seats) > 0%}
                    <div class="text-dark h6 mt-2">Business Class:</div>
                    {%for Business_class_selected_seat in Business_class_selected_seats:%}
                    <div class="row mb-3">
                        <div class="col-md-4 mt-4">
                            <div class="text-center h2" style="font-size:15px">Seat: B {{Business_class_selected_seat}}</div>
                        </div>
                        <div class="col-md-4">
                            <label>B {{Business_class_selected_seat}} Passenger Name</label>
                            <input type="text" name="B{{Business_class_selected_seat}}name" class="form-control" required placeholder="Passenger name">
                        </div>
                        <div class="col-md-4">
                            <label>B {{Business_class_selected_seat}} Passenger Age</label>
                            <input type="number" min="5" max="130" name="B{{Business_class_selected_seat}}age" class="form-control" required placeholder="Passenger age">
                        </div>
                    </div>
                    {%endfor%}
                    {%endif%}
                    {% if len(Economy_class_selected_seats) > 0%}
                    <div class="text-dark h6 mt-2">Economy Class:</div>
                    {%for Economy_class_selected_seat in Economy_class_selected_seats:%}
                    <div class="row mb-3">
                        <div class="col-md-4 mt-4">
                            <div class="text-center h2" style="font-size:15px">Seat: E {{Economy_class_selected_seat}}</div>
                        </div>
                        <div class="col-md-4">
                            <label>E {{Economy_class_selected_seat}} Passenger Name</label>
                            <input type="text" name="E{{Economy_class_selected_seat}}name" class="form-control" required placeholder="Passenger name">
                        </div>
                        <div class="col-md-4">
                            <label>E {{Economy_class_selected_seat}} Passenger Age</label>
                            <input type="number" min="5" max="130" name="E{{Economy_class_selected_seat}}age" class="form-control" required placeholder="Passenger age">
                        </div>
                    </div>
                    {%endfor%}
                    {%endif%}
                </div>
            </div>
            <div class="col-md-6 mt-1">
            <h5 class="text-center text-dark">Card Details</h5>
                <div class="h6 mb-2 h4"> Payable: $ {{Total_amount}}</div>
                <div class="form-group">
                    <input type="hidden" id="booking_id" name="booking_id" class="form-control" value="{{booking['_id']}}" >
                </div>
                <div class="form-group">
                    <input type="hidden" id="Total_amount" name="Total_amount" class="form-control" value="{{Total_amount}}" >
                </div>

                <div class="form-group text-dark mt-2">
                    <label for="card_number" class="h6">Card Number</label>
                    <input type="number" id="card_number" name="card_number" class="form-control mt-1" placeholder="Enter number" >
                </div>
                <div class="form-group text-dark">
                    <label for="card_name" class="h6 mt-2">Card Holder Name</label>
                    <input type="text" name="card_name"  id="card_name" class="form-control" placeholder="Enter name" >
                </div>
                <div class="form-group text-dark">
                     <label for="expiry_date" class="h6 mt-2" >Expiry Date</label>
                     <input type="text" id="expiry_date" name="expiry_date" class="form-control mt-1" placeholder="Enter expiry" >
                </div>
                <div class="form-group text-dark">
                    <label for="card_cvv" class="h6 mt-2">CVV</label>
                    <input type="text"  id="card_cvv" name="card_cvv" class="form-control mt-1" placeholder="Enter cvv" >
                    <input type="submit" value="PayNow" class="btn btn-primary w-30 mt-5">
                </div>
            </div>
          </div>
        </form>
    </div>
</div>